@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');

:root {
  --color-1: #f1c40f;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a, button {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
}

.logo {
  cursor: pointer;
  margin-right: auto;
  height: 35px;
}

#pre-order {
  padding: 9px 28px;
  border: none;
  background: var(--color-1);
  transition: all 0.3s ease 0s;
  border-radius: 12px;
  cursor: pointer;
}

#pre-order:hover {
  background: :var(--color-3);
}

img {
  min-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

header{
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
}

.main-header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.main-nav ul {
  margin: 1em 0 .5em;
  text-align: center;
}

.main-nav li {
  display: inline;
  transition: all 0.3s ease 0s;
}

.main-nav li a:hover {
  color: var(--color-1);
}

.main-nav a {
  display: inline-block;
  padding: .5em 1.5em;
  transition: all 0.3s ease 0s;
}

@media (min-width: 960px) {
  .main-header .container {
    justify-content: space-between;
  }
}

.contenedor-form {
  display: flex;
  justify-content: center;
}

@media (max-width: 960px) {
  .grupo_form {
    display: flex;
    font-size: 12px;
    justify-content: center;
    text-align: center;
    width: 80%;
    height: 100px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.25rem;
    margin-bottom: 1rem;
  }
}

.grupo_form {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 28px;
  margin-top: 5.25rem;
  margin-bottom: 2rem;
}

.input-text {
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  margin-top: 1.25rem;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  height: 2rem;
}

#submit {
  display: inline-block;
  font-family: Montserrat, sans-serif;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1rem;
  height: 2rem;
  background: var(--color-1);
  cursor: pointer;
}

#caracteristicas {
  padding-bottom: 4rem;
  margin-bottom: 5%;
}

.contenedor-caracteristicas {
  display: flex;
  justify-content: center;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  padding-top: 5rem;
}

.icon {
  color: var(--color-1);
  display: inline-block;
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

.desc {
  display: inline-block;
  padding: 0 40px;
  font-family: Montserrat, sans-serif;
}

contenedor-video {
  display: flex;
  justify-content: center;
}

#how-it-works {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}

@media (min-width: 960px) {
  iframe {
    max-width: 350px;
    width: 100%;
  }
}

iframe {
  max-width: 560px;
  width: 100%;
}

.btn {
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
}

.card_title {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}





li {
  font-family: Montserrat, sans-serif;
  list-style: none;

}



footer {
  font-family: Montserrat, sans-serif;
  list-style: none;
  font-size: 18px;
  margin-top: 10px;
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}


span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
